* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}

body {
    font-family: monospace;
    background-color: #bce6a4;
    color: #333;
    font-size: 20px;
    background-size: contain;
    background-image: url('bg.png');
    background-repeat:no-repeat
}

h1 {
    text-align: center;
    color: #4CAF50;
}

.about-container {
    padding: 50px;
    margin: 0;
}

.about-container h1 {
    text-align: center;
    color: #4CAF50;
    font-size: 28px;
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.about-image {
    width: 30%;
    border-radius: 8px;
    box-shadow: 4px 4px 8px #4f4d4d;
    margin-bottom: 15px;
    background: aquamarine;
}

.about-content p {
    font-size: 20px;
    color: #333;
    text-align: center;
}

