* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}

body {
    font-family: monospace;
    background-color: #bce6a4;
    color: #333;
    font-size: 20px;
    background-size: contain;
    background-image: url('bg.png');
    background-repeat:no-repeat
}

h1 {
    text-align: center;
    color: #4CAF50;
}

.about-container {
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
}

.about-container h1 {
    text-align: center;
    color: #4CAF50;
    font-size: 28px;
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.about-image {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    background: aquamarine;
    margin-left: 20%;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    text-align: center;
}

@media (min-width: 768px) {
    .about-content {
        flex-direction: row;
        align-items: flex-start;
    }
    .about-image {
        margin-right: 20px;
    }
    .about-content p {
        text-align: left;
    }
}
